<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">AVISO DE PRIVACIDAD</h1>
     </div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class="lead">
				De acuerdo a la ley federal de proteccion de datos personales en posesion de los particulares, le informamos que los datos personales que nos proporciona forman parte de los registros de Hotel Real del Lago (ESTEBAN ROLDAN XICOHTENCATL) pudiendo usted ejercer en cualquier momento los derechos de acceso, rectificacion, oposicion y cancelacion que dicha ley le confieren, dirigiendose por escrito a la Avenida de los Deportes # 15 Col. Adolfo López Mateos Tlaxcala, Tlax, C.P.90040 ó por correo electrónico a la siguiente direccion: reservaciones@hotelrealdelago.com
			</p>
			<p class="lead">
				Los datos personales recabados son utilizados para reservación, cobro y registro de las personas que solicitan nuestros servicios.
			</p>
			<p class="lead">
				Si usted no manifiesta su oposición para que sus datos personales sean compartidos se entendera que ha otorgado su consentimiento para ello. <br>
				Para conocer mas sobre nuestros procedimientos, requisitos y plazos relacionados con el manejo de la información, se puede poner en contacto con nuestro departamento de datos pesonales en la Avenida de los Deportes # 15 Col. Adolfo López Mateos Tlaxcala, Tlax, C.P.90040 ó por correo electrónico a la siguiente direccion: reservaciones@hotelrealdelago.com
			</p>
			<p class="lead">
				Cualquier modificación a este aviso de privacidad podra consultarla en www.hotelrealdelago.com
			</p>
		</div>
	</div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">

