<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">NUESTRAS HABITACIONES</h1>
     </div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">SENCILLA</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">DOBLE</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">KING SIZE SENCILLA</a></li>
          <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">KING SIZE ESPECIAL</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">
            <div class="row">
              <div class="col-md-12">
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Cama matrimonial.
                </p>
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Smart TV.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Agua caliente las 24 hrs.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Internet inalámbrico.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Para 1 - 2 personas.
                </p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            <hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">
            <div class="row">
              <div class="col-md-12">
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Dos camas matrimoniales.
                </p>
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Smart TV.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Agua caliente las 24 hrs.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Internet inalámbrico.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Para 2 - 4 personas.
                </p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">
             <hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">
             <div class="row">
              <div class="col-md-12">
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Cama King Size.
                </p>
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Cama Individual.
                </p>
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Smart TV.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Agua caliente las 24 hrs.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Internet inalámbrico.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Para 3 - 4 personas.
                </p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="settings">
            <hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">
             <div class="row">
              <div class="col-md-12">
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Cama King Size.
                </p>
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Cama Matrimonial.
                </p>
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Cama Individual.
                </p>
                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Smart TV.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Agua caliente las 24 hrs.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Internet inalámbrico.
                </p>

                <p class="lead"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                  Para 5 - 6 personas.
                </p>
              </div>
            </div>

          </div>
        </div>

      </div>
		</div><!--col-md-6 -->
    <div class="col-md-6">
      <h2 style="text-align:center">GALERÍA</h2>
      <ul style="list-style: circle;" id="lightGallery">
          <li id="gallery_list" data-src="assets/hotel_4.jpg" class="col-xs-6 col-md-6">
            <img src="assets/hotel_4.jpg" class="img-responsive">
          </li>
          <li id="gallery_list" data-src="assets/hotel_5.jpg" class="col-xs-6 col-md-6">
            <img src="assets/hotel_5.jpg" class="img-responsive">
          </li>
          <li id="gallery_list" data-src="assets/hotel_6.jpg" class="col-xs-6 col-md-6">
            <img src="assets/hotel_6.jpg" class="img-responsive">
          </li>
           <li id="gallery_list" data-src="assets/hotel_3.jpg" class="col-xs-6 col-md-6">
            <img src="assets/hotel_3.jpg" class="img-responsive">
          </li>
          <li id="gallery_list" data-src="assets/hotel_2.jpg" class="col-xs-6 col-md-6">
            <img src="assets/hotel_2.jpg" class="img-responsive">
          </li>
          <li id="gallery_list" data-src="assets/room_sencilla.jpg" class="col-xs-6 col-md-6">
            <img src="assets/room_sencilla.jpg" class="img-responsive">
          </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-md-4">
      <%= link_to "RESERVA AHORA", "#", class: "btn btn-danger btn-lg", style: "color:white" %>
    </div>
    <div class="col-xs-4 col-md-4">
      <%= link_to "POLÍTICA DE RESERVACIÓN", "/terms", class: "btn btn-link" %>
    </div>
  </div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">

 <script type="text/javascript">
      $(document).ready(function() {
        $("#lightGallery").lightGallery({

          mode: 'slide',
          useCSS: true,
          cssEasing: 'ease', //'cubic-bezier(0.25, 0, 0.25, 1)',//
          easing: 'linear', //'for jquery animation',//
          speed: 600,
          addClass: '',

          closable: true,
          loop: false,
          auto: false,
          pause: 4000,
          escKey: true,
          controls: true,
          hideControlOnEnd: false,

          preload: 1, //number of preload slides. will exicute only after the current slide is fully loaded. ex:// you clicked on 4th image and if preload = 1 then 3rd slide and 5th slide will be loaded in the background after the 4th slide is fully loaded.. if preload is 2 then 2nd 3rd 5th 6th slides will be preloaded.. ... ...
          showAfterLoad: true,
          selector: null,
          index: false,

          lang: {
              allPhotos: 'All photos'
          },
          counter: false,

          exThumbImage: false,
          thumbnail: true,
          showThumbByDefault:false,
          animateThumb: true,
          currentPagerPosition: 'middle',
          thumbWidth: 100,
          thumbMargin: 5,


          mobileSrc: false,
          mobileSrcMaxWidth: 640,
          swipeThreshold: 50,
          enableTouch: true,
          enableDrag: true,

          vimeoColor: 'CCCCCC',
          videoAutoplay: true,
          videoMaxWidth: '855px',

          dynamic: false,
          dynamicEl: [],

          // Callbacks el = current plugin
          onOpen        : function(el) {}, // Executes immediately after the gallery is loaded.
          onSlideBefore : function(el) {}, // Executes immediately before each transition.
          onSlideAfter  : function(el) {}, // Executes immediately after each transition.
          onSlideNext   : function(el) {}, // Executes immediately before each "Next" transition.
          onSlidePrev   : function(el) {}, // Executes immediately before each "Prev" transition.
          onBeforeClose : function(el) {}, // Executes immediately before the start of the close process.
          onCloseAfter  : function(el) {}, // Executes immediately once lightGallery is closed.

        });
    });
</script>