<%= render "partials/carousel" %>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-6">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        
        <div class="col-md-6">
            	<h2 style="color:orange"class="display-4">Reserva en línea</h2>
            	<p><em>El mejor precio garantizado.</em><br>
            		<em>Contacto: 01800 222 2222 </em>
            	</p>
            	<form class="input-daterange input-group">
				  <fieldset class="form-group" id="datepicker">
				    <div class="col-xs-4">
					    <label for="formGroupExampleInput">Fecha de entrada</label><br>
				    	<input type="text" class="input-sm form-control" name="start" />
				    </div>
				    <div class="col-xs-2">
				      	<a href="" id="dp-choose-date"></a>
				    </div>
				  </fieldset>
				  <fieldset class="form-group">
				    <div class="col-xs-4">
				    	<label for="formGroupExampleInput2">Fecha de salida</label><br>
				    	<input type="text" class="input-sm form-control" name="end" />
				    </div>
				    <div class="col-xs-2">
				      	<a href="" id="dp-choose-date"></a>
				    </div>
				  </fieldset>
				  <fieldset>
				  	<div class="col-xs-4">
				  		<button type="submit" class="btn btn-primary">Reservar</button>
				  	</div>
				  </fieldset>
				  <br>
				</form>
        </div>
	</div>
</div>

<div class="container">
		<hr class="featurette-divider">
		<div class="row">
	    	 <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div><!--/span-->
             <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div><!--/span-->
             <div class="col-xs-6 col-lg-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div><!--/span-->    
	    
      	</div>
		
</div>

<script type="text/javascript">
  $(document).ready(function(){
  	$('.input-daterange').datepicker({
	});
  });

</script>
