<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">POLÍTICAS DE RESERVACIÓN Y CANCELACIÓN</h1>
     </div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>POLÍTICAS DE RESERVACIÓN </h3>
			<p class="lead"> • La reservación estará garantizada sólo cuando se haya recibido el  50% del importe total de la reservación o proporcionando el número de su tarjeta de crédito ó débito. </p>
			<p class="lead"> • Después de realizarse la reservación, el huésped puede liquidar el día del Check-In.
			</p>
			<p class="lead"> • La hora del Check-In (entrada) es a las 15:00 hrs.</p>
			<p class="lead"> • Y la hora Check-Out (salida) es a las 12:30 hrs. </p>
			<hr class="featurette-divider">
			<h3>POLÍTICAS DE CANCELACIÓN </h3>
			<p class="lead"> • La cancelación de las reservaciones sin cargo, solo se podrá hacer 5 días antes de la fecha reservada.</p>
			<p class="lead"> • Si la cancelación se realiza 72 horas antes de su llegada, tendrá un cargo del 50%.</p>
			<p class="lead"> • Si la cancelación se realiza 24 horas antes de su llegada, se cobrará el 100% de la tarifa acordada.</p>
			<p class="lead"> • Si el huésped no realiza una cancelación y no llega a ocupar la habitación en la fecha estipulada, se hará el cobro total de la primera noche.</p>
		</div>
	</div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">

