<hr style="border-top: 1px solid rgb(255, 255, 255);"class="featurette-divider">
<div class="container">
    <h2 style="text-align:center">CONTACTO</h2>
    <div style="text-align:center" class="col-md-2 col-md-offset-5">
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div>
    <hr class="featurette-divider"> 
    <div class="row">
        <div class="col-md-4">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">NOMBRE</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Su nombre">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">EMAIL</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Su correo">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">MENSAJE</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-default">ENVIAR</button>
            </form>
        </div>
        <div class="col-md-4">
            <p><strong>HOTEL REAL DEL LAGO</strong></p>
            <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Avenida de los deportes # 15 Colonia Adolfo López Mateos, Tlaxcala, Tlaxcala. CP 90040.
            </p>
            <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Teléfonos: (246) 462 0399 / (246) 462 9517</p>
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a class="link_contacto" href="mailto:reservaciones@hotelrealdelago.com"> reservaciones@hotelrealdelago.com</a><br>
            <br>
            <p><strong>SIGUENOS</strong></p>
            <%= image_tag('http://growingsocialmedia.com/wp-content/uploads/2015/11/Social-Media-Logos-Group.png', width: 200, class: "img-responsive") %>
        </div>
        <div class="col-md-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1882.5110973880517!2d-98.24517926682164!3d19.324843173462384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfd91867f5e30b%3A0x6304df369b004465!2sHotel+Real+Del+Lago!5e0!3m2!1ses!2smx!4v1458962967743" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);"class="featurette-divider">
