<div style="background-color: #f4f4f4;" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="span-divider"></div>
			<div class="col-md-4 col-md-offset-2">
				<h4>HOTEL REAL DEL LAGO</h4>
           		<p><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Avenida de los deportes # 15 Colonia Adolfo López Mateos, Tlaxcala, Tlaxcala. CP 90040.
            	</p>
            	<p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Teléfonos: (246) 462 0399 / (246) 462 9517</p>
            	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a class="link_contacto" href="mailto:reservaciones@hotelrealdelago.com"> reservaciones@hotelrealdelago.com</a><br>
			</div>
			
			<div class="col-md-4">
	  			<h4>TWEETS</h4>
	  			<% @tweet_news.each do |tweet| %>
					<div class="col-md-2"><%= image_tag('tweet.png') %></div>
					<div class="col-md-10">
	  					<p>
	  						<%= link_to "@#{tweet.user.screen_name}", "https://twitter.com/hrealdelago", target: "_blank" %>
	  					</p>
	  					<p>	
	  						<%= auto_link(tweet.text, :html => { :target => '_blank' }) %><br>
	  						<small><%= localize(tweet.created_at, :format => :long) %> </small>
	  					</p>
	  				</div>
  				<% end %>
			</div>
		</div>
	</div>
	<br>
</div> 
<footer style="background-color:black">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<p class="lead" style="color:white">Desarrollado por <a style="" href="https://twitter.com/JulioAhuactzin" target="_blank">@JulioAhuactzin </a> <span class="pull-xs-right"><a href="#">Privacy</a> | <a href="#">Terms</a></span></p>
		</div>
	</div>
</footer>