<div class="span-divider"></div>
<div class="container">
    <h2 style="text-align:center">HABITACIONES</h2>
    <hr>
		<div class="row">
	    	 <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="/assets/room_sencilla.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-block">
              <h4 class="card-title">Sencilla</h4>
              <%= link_to "Detalles", "#", class: "btn btn-info" %>
            </div>
          </div>
     	  </div>
        <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="/assets/hotel_5.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-block">
              <h4 class="card-title">Doble</h4>
              <%= link_to "Detalles", "#", class: "btn btn-info" %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="/assets/hotel_4.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-block">
              <h4 class="card-title">King Size Sencilla</h4>
              <%= link_to "Detalles", "#", class: "btn btn-info" %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="/assets/hotel_6.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-block">
              <h4 class="card-title">King Size Especial</h4>
              <%= link_to "Detalles", "#", class: "btn btn-info" %>
            </div>
          </div>
        </div>
		</div>
  </div>

