<hr style="border-top: 1px solid rgb(255, 255, 255);"class="featurette-divider">
<div class="container">
    <h2 style="text-align:center">HABITACIONES</h2>
     <div style="text-align:center" class="col-md-2 col-md-offset-5">
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div>
    <hr class="featurette-divider"> 
		<div style="text-align:center" class="row">
	    	 <div class="col-xs-3 col-md-3">
            <div class="card">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="/assets/room_sencilla.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-block">
              <br>
              <%= link_to "SENCILLA", "/habitaciones", class: "btn btn-default btn-lg" %>
            </div>
          </div>
     	  </div>
        <div class="col-xs-3 col-md-3">
            <div class="card">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="/assets/hotel_5.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-block">
              <br>
              <%= link_to "DOBLE", "/habitaciones", class: "btn btn-default btn-lg" %>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <div class="card">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="/assets/hotel_4.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-block">
              <br>
              <%= link_to "KING SIZE SENCILLA", "/habitaciones", class: "btn btn-default btn-lg" %>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-3">
            <div class="card">
              <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="/assets/hotel_6.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
            <div class="card-block">
              <br>
              <%= link_to "KING SIZE ESPECIAL", "/habitaciones", class: "btn btn-default btn-lg" %>
            </div>
          </div>
        </div>
		</div>
  </div>

