<nav class="navbar navbar-static-top navbar-light bg-faded">
   <a href="#" class="navbar-brand">HOTEL REAL DEL LAGO</a>
   <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="#">SERVICIOS </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HABITACIONES</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="#">FOTOS</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">UBICACIÓN</a>
       </li>     
       <li class="nav-item">
         <a class="nav-link" href="#">CONTACTO</a>
       </li>
       
    </ul>
  </div>
</nav>