<hr style="border-top: 1px solid rgb(255, 255, 255);"class="featurette-divider">
<div class="container">
    <h2 style="text-align:center">SERVICIOS</h2>
    <div style="text-align:center" class="col-md-2 col-md-offset-5">
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div>
    <hr class="featurette-divider"> 
    <div class="row">
    	<div class="col-md-4">
    		<%= image_tag("services", class: "img-responsive", width: "50", style:"margin-left: 30%") %>
    		<br>
    		<h8 >SERVICIOS GENERALES</h8>
    		<p>Servicios incluidos en tu estancia:</p>
    		<ul>
    			<li>
    				Área de estacionamiento.
    			</li>
    			<li>
    				Café de cortesía.
    			</li>
    			<li>
    				Lavandería.
    			</li>
    			<li>
    				Servicio de Taxi.
    			</li>
    		</ul>
    	</div>
    	<div class="col-md-4">
    		<%= image_tag("room_icon", class: "img-responsive", width: "50", style:"margin-left: 30%") %>
    		<br>
    		<h8 >HABITACIONES</h8>
    		<p>Contamos con un total de 28 habitaciones que incluyen:</p>
    		<ul>
    			<li>
    				Servicio de internet WIFI.
    			</li>
    			<li>
    				Televisión por cable (Smart TV).
    			</li>
    			<li>
    				Agua caliente (24 hrs.)
    			</li>
    			<li>
    				Arreglos para ocasiones especiales.
    			</li>
    		</ul>
    	</div>
    	<div class="col-md-4">
    		<%= image_tag("restaurant_icon", class: "img-responsive", width: "50", style:"margin-left: 40%") %>
    		<br>
    		<h8 >RESTAURANTE & BAR</h8>
    		<p>Abierto de martes a domingo de 8:00 - 18:00 horas.</p>
    		<ul>
    			<li>
    				Desayuno Buffet Viernes, Sábado y Domingo.
    			</li>
    			<li>
    				Servicio de Bar con bebidas nacionales e internacionales.
    			</li>	
    		</ul>
    	</div>
    </div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);"class="featurette-divider">
