<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3">Actualiza la habitación</h1>
		 </div>
</div>
<div class="container">
	<%= render 'form' %>
	<%= link_to 'Show', @room %> |
	<%= link_to 'Back', rooms_path %>
</div>