<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">NUESTRAS HABITACIONES</h1>
     </div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
</div>
<hr style="border-top: 1px solid rgb(255, 255, 255);" class="featurette-divider">

