/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker3
 *= require light-gallery
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding:0!important; 
    margin:0 !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #d9534f;
}

.error { 
  display: none; 
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}


#gallery_list{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 1;
}

#gallery_list:hover {
    cursor: pointer; 
    cursor: hand;
    opacity: .5;
}


.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding: 5px 5px;
    border: 2px solid #000000;
    border-radius: 50%;
    font-size: 30px;
    color: #000000;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    text-decoration: none;
    position:fixed;
    top:75px;
    right:10px;
    display:none;
}

.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
    color: rgb(148, 69, 60);
    text-decoration:none;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.link_contacto{
  text-decoration: none;
  line-height: inherit;
  color: #000000;

}

.link_contacto:hover {
    color: rgb(148, 69, 60);
    text-decoration: none;
    cursor:pointer;
}

.span-divider {
    margin: 80px 0;
}


footer{
  margin-bottom: -2%;
}

.bg-faded {
    background-color: rgba(255,255,255,0.9);
}

.featurette-divider {
    margin: 80px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(148, 69, 60);
}

.nav > li > a {
  color: rgb(148, 69, 60);
}

.caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: black;
    text-align: left;
    caption-side: bottom;
    font-size: 1.2rem;
}

#dp-choose-date {
    float: left;
    width: 27px;
    height: 23px;
    padding: 0px;
    margin: 30px 0px 0px -15px;
    display: block;
    text-indent: -2000px;
    overflow: hidden;
    background: url(/assets/calendar.png) no-repeat;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

#subHeader {
    display: block;
    width: 100%;
    right: 0;
    position: absolute;
    z-index: 100;
    margin-top: 8px;
}

#addressBar {
    float: right;
    height: 95px;
    padding-right: 1%;
    padding-left: 2%;
    background-color: rgba(255, 255, 255, 0.44);
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}   

/* Declare heights because of positioning of img element */
.carousel-item {
  height: auto;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel .item {
  height: 55rem;
  background-color: #777;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



.dropdown-menu {
  left: -147px;
}

.card > img {
    margin-bottom: .75rem;
    height: 280px;
    width: 100%;
    display: block;
}

.card-text {
    font-size: 85%;
}

.message {
  border-bottom-right-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  padding: 2px 5px;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}