/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker3
 */
 @import "bootstrap";

.bg-faded {
    background-color: rgba(255,255,255,0.9);
}

.featurette-divider {
    margin: 5rem 0;
}

.navbar-light .navbar-nav .nav-link {
    color: ORANGE;
}

.caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: black;
    text-align: left;
    caption-side: bottom;
    font-size: 0.7rem;
}

#dp-choose-date {
    float: left;
    width: 27px;
    height: 23px;
    padding: 0px;
    margin: 40px 0px 0px -15px;
    display: block;
    text-indent: -2000px;
    overflow: hidden;
    background: url(/assets/calendar.png) no-repeat;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}